body, html {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Container for sections */
.scroll-container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll; /* Allow scrolling only in the container */
}

/* Each section's styling */
section {
    padding-top: 5vh;
    scroll-snap-align: start;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1 {
    color: #fffffff5; /* Dark teal for headings */
    margin-top: 2vh;
}

#file-input {
    border-color: #80cbc4; /* Teal border for the file input */
}

canvas {
    display: block; /* Ensures the canvas is a block-level element */
    margin: 0 auto; /* Centers the canvas horizontally */
    width: 10px;
    background-color: #ffffff; /* Give it a background color so you can see it */
}

#bevy-canvas {
    margin-top: -10px;
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border: none;
}

.card-about {
    dislpay: block;
    justify-content: center;
    align-items: center;
}

.icon-upload {
    font-size: 2.5rem;
    color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #6c5ce7;
    border-color: #6c5ce7;
}

.btn-primary:hover {
    background-color: #5b4bc9;
    border-color: #5b4bc9;
}

p {
    margin-top: 1vh;
    color: #fff;
}

.icon-upload {
    font-size: 3rem; /* Adjust size as needed */
    color: #aaa;
}

img {
    cursor: pointer;
    border: solid;
    border-radius: 10px;
    border-color: transparent;
}

img:hover {
    transition: 0.5s;
    background-color: #c42442;
}

a {
    color: #aaa;
    margin: 0.5vh;
    text-decoration: none;
}

a:hover {
    transition: 0.3s;
    color: #e4e4e4;
}
